@charset "UTF-8";
 /*
 Paleta de cores:
 VERDE: #49a09d
 LILÃS: #5f2c82
 BRANCO:
 PRETO:
 
 */

 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
 }

 main{
    position: relative;
    height: 100vh;
    width: 100vw;
 }

 section#login{
      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    display: block;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
    

 }

 section#login > div#imagem {
    background: #5f2c82 url(../imagens/patterns.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    display: block;
 }

 section#login > div#formulario{
    display: block;
    padding: 10px;

 }

 div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
 }
 div#formulario > p {
    font-size: 0.8em;
 }
 
 form > div.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    font-size: 0.8em;
 }

 div.campo > label {
    display: none;
 }
 form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }

 form > input[type=submit]:hover{
    background-color: #286866;
 }

 form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border: 1px #49a09d solid;
    border-radius: 7px;
    text-decoration: none;
    color: #286866;
 }
 form > a.botao:hover{
    background-color: #71c4c1;
    color: white;
 }

 form > a.botao > span {
    font-size: 0.8em;
 }